*{
    scroll-behavior: smooth;
}
.navBar{
    display: flex;
padding: 20px;
justify-content: space-between;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
align-items: center;
position: relative;
}
.menuToggle{
    display: none;
}
.navRight{
    display: flex;
    gap: 20px;
    font-family: "Montserrat" , sans-serif;
}
.navRight a{
    text-decoration: none;
    cursor: pointer;
}
.navRight p{
    font-size: 17px;
    color: black;
}
.navLeft h3{
color: rgb(194, 175, 1);
}
.hero{
    padding: 40px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}
.heroLeft h1{
            font-family: 'Cinzel' , sans-serif;

}
.heroLeft p{
    font-family: 'Quicksand' , sans-serif;
}
.heroRight img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid  rgb(194, 175, 1);
    padding: 0;
}
button{
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 5px 8px;
    background: none;

}
button:hover{
    transform: scale(1.03);
}
.btnHero1 ,
.btnHero2{
    border-radius: 10px;
        font-family: 'Quicksand' , sans-serif;

}
.btnHero1{
    border: none ;
    background:  rgb(194, 175, 1) ;
}
.btnHero2{
    border: 1px solid  rgb(194, 175, 1);
    color:  rgb(194, 175, 1);
}
.projects{
    margin-top: 30px;
    padding: 30px;
}
.projects h2{
    font-family: 'Cinzel' , sans-serif;
}
.cardsContainer{
    display: flex;
 justify-content: center;
 gap: 50px;
 flex-wrap: wrap;
}
.card{
border-radius: 20px;
text-align: center;
align-items: center;
border: 1px solid rgb(194, 175, 1) ;
transition: all 0.3s ease;
padding: 15px;
min-width: 280px;
flex-wrap: wrap;
width: 280px;
}
.card:hover{
    transform: scale(1.03);
}
.card img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    
}
.card p{
    font-family: "Fredoka" , sans-serif;
}
.card button{
    border: 1px solid rgb(194, 175, 1) ;

}
.projects h2{
    margin-bottom: 30px;
}
.skills{
    padding: 30px;
}
.skills h2{
    margin: 20px 0px;
        font-family: 'Cinzel' , serif;

}
.skills p{
    font-family: "Poppins" , sans-serif;
}
.bi-1-circle-fill ,.bi-2-circle-fill , .bi-3-circle-fill{
color: rgb(194, 175, 1)  ;
font-size: 23px;
}
.socialContainer{
    padding: 30px;

}
.socialContainer h2{
    font-family: 'Cinzel' , serif;
}
.socialContainer span{
color: rgb(194, 175, 1) ;
}
.social{
    display: flex;
    gap: 30px;
    font-size: 20px;

}
.bi-github , .bi-facebook , .bi-envelope-at-fill , .bi-whatsapp{
    cursor: pointer;
    color: black;
}
footer{
    background-color: rgb(194, 175, 1) ;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    font-family: "Quicksand" , sans-serif;
}
@media (max-width:768px) {
    .menuToggle{
        display: block;
        order: 2;
        cursor: pointer;
    }
    .navLeft{
        order: 1;
    }
    .navRight{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px 0px;
        gap: 15px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        z-index: 1000;

        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        overflow: hidden;
        transition: all 0.3s ease;

    }
    .navRight.active{
        display: flex;
        visibility: visible;
        transform: translateY(0);
        max-height: 300px;
        opacity: 1;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
    .heroRight{
        order: 1;

    }
    .heroRight img{
        margin-bottom: 30px;
        width: 250px;
        height: 250px;
        border: 1px solid  rgb(194, 175, 1);
    }
    .heroLeft{
        order: 2;
        text-align: center;
        
    }
    .heroLeft h1{
        font-family: 'Cinzel' , sans-serif;
    }
    .cardsContainer{
        display: flex;
        flex-direction: column;
     
    }
    .card{
           padding: 10px 0px;
           
    }
    .card img{
        width: 190px;
        height: 130px;
    }
    button{
        padding: 3px 8px;
        font-size: 14px;
        background: none;
    }
    .bi-1-circle-fill ,.bi-2-circle-fill , .bi-3-circle-fill {
color: rgb(194, 175, 1)  ;
font-size: 19px;
}
}